{% extends "base.html" %}
{% block title %}
    Forgot Password
{% endblock %}

{% block content %}
    <div class="container col-lg-8 offset-lg-2  col-md-12  col-sm-12 col-xs-12 container home">
        <h1>Forgot Password ?</h1>
        <form action="" method="post">
            {{  form.csrf_token }}
            <table>
                <tr>
                    <th>What is the Email associated with your account ?</th>
                </tr>
                 <tr>
                     <td>{{form.username(size=22)}}</td>
                 </tr>
                <tr>
                    <td>{{ form.enter() }}</td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}