{% extends 'base.html' %}

{% block title %}
    Projects
{% endblock %}

{% block content %}
    <div class="spaceprojects col-lg-8 offset-lg-2  col-md-12  col-sm-12 col-xs-12 container">
        <h1>Projects</h1>
        <h2>Gameboard</h2>
        <p>A program that acts like a game board between two players. The game is played by switching
            turns between players to roll dices. The first player to reach the last case of the game board wins.
        </br><a class="viewgit" href="https://github.com/jfv-2000?tab=projects">View GitHub</a></p>
        <h2>Appliance Shop Manager</h2>
        <p>A program that manages appliances of a shop by categorising them by their brand, serial number, type and price.
        </br><a class="viewgit" href="https://github.com/jfv-2000?tab=projects">View GitHub</a></p>
    </div>
{% endblock %}