{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
    <div class="container col-lg-8 offset-lg-2  col-md-12  col-sm-12 col-xs-12 container home">
        <h1>Register</h1>
        <form action="/register" method="post">
            {{  form.csrf_token }}
            <table>
                 <tr>
                     <td>{{form.username(size=22)}}</td>
                 </tr>
                 <tr>
                     <td>{{form.password(size=22)}}</td>
                 </tr>
                 <tr>
                     <td>{{form.password2(size=22)}}</td>
                 </tr>
                 <tr>
                     <td>{{form.submit()}}</td>
                 </tr>
            </table>
        </form>
    </div>
{% endblock %}