{% extends 'base.html' %}

{% block title %}
    Resume
{% endblock %}

{% block content %}
    <div class="spaceresume container col-lg-8 offset-lg-2  col-md-12  col-sm-12 col-xs-12">
        <h1 class="resume">Resume</h1>
        <h2>Objectives</h2>
        <p>Seeking an autumn internship position as a student in Software Engineer.</p>
        <h2>Education</h2>
        <p>Bachelor of Engineering in Software Engineering <span class="gradyear">August 2023</span>
        </br><span class="school">Concordia University</span>, Montreal, Quebec</p>
        <p>DEC in Pure and Applied Science <span class="gradyear">May 2019</span>
        </br><span class="school">College Bois-de-Boulogne</span>, Montreal, Quebec</p>
        <h2>Experience</h2>
        <p class="descjob"><span class="job">Activity organiser</span><span class="gradyear">September 2018</span>
        </br><span class="school">Villa Sainte-Anne</span>, Montreal, Quebec
        </br><ul><li>Plan activities for elder residents and animate them</li></ul></p>
    </div>
{% endblock %}